<!DOCTYPE html>
<html lang="ko">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            <h1>게시판</h1>
            <div class="col-10 offset-1">
                <form class="form-inline" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="word" class="sr-only">검색어</label>
                        <input type="text" name="word" class="form-control" id="word" placeholder="검색어 입력">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">검색하기</button>
                </form>
                <table class="table table-striped">
                    <tr>
                        <th>순위</th>
                        <th width="20%">리그</th>
                        <th width="50%">팀이름</th>
                        <th>P</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>승점</th>
                    </tr>
                    <% if(typeof list != 'undefined') { 
                     for(let i = 0; i < list.length; i++) {  %>
                    <tr>
                        <td><%= list[i].rank %></td>
                        <td><%= list[i].league %></td>
                        <td><img src="<%= list[i].img %>" style="padding-right: 10px"><%= list[i].team %></td>
                        <td><%= list[i].play %></td>
                        <td><%= list[i].win %></td>
                        <td><%= list[i].draw %></td>
                        <td><%= list[i].lose %></td>
                        <td><%= list[i].score %></td>
                    </tr>
                    <% } 
                } %>
                </table>
            </div>
        </div>
    </div>
</body>

</html>